.card {
    margin: 50px;
    padding: 0px 50px;
    position: absolute;
    width: 600px;
    height: 300px;
    left: 0px;
    top: 0px;

    background: rgba(33, 67, 117);
    border-radius: 15px;
}

.card-img {
    position: absolute;
    height: 100%;
    width: 30%;
    left: 0px;
    top: 0px;

    background: url(falconHeavy.jpg);
    border-radius: 15px;
}

