.card {
    margin: 50px;
    padding: 0px 50px;
    position: absolute;
    width: 600px;
    height: 300px;
    left: 0px;
    top: 0px;

    background: rgb(76, 76, 87);
    border-radius: 15px;
}

.card-img {
    position: absolute;
    height: 100%;
    width: 30%;
    left: 0px;
    top: 0px;

    background: url(Starship\ R1.jpg);
    border-radius: 15px;
}

.card-body {
    color:rgb(167, 201, 255);
}

