.card {
    z-index: 1;
    width: 95%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: rgba(122, 122, 134, 0.897);
    border-radius: 12px;
    box-shadow: 12px 12px 10px 2px rgb(0 0 0 / 50%);
}

.card-grid {
    width: 100%;
    height: 100%;
    margin-right: 10% !important;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px 5px;
}

.card-img {
    height: auto;
    width: 100%;
    left: 0px;
    top: 0px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.card-body {
    color:rgb(0, 0, 0);
    padding: 5px;
}

/* Card por parte */

.rocket {
    font-size: 200%;
}

/* time */
.card-text {
    font-size: 130%;
}

.launch_provider {
    font-size: 150%;
    font-weight: bold;
}
.SpaceX {
    color: #005288;
}
.Rocket {
    color: #e74949;
}
.Virgin {
    color: #aa2b2b;
}
.United {
    color: #5b90d3;
}
.Arianespace {
    color: #98d8f0;
}
.Indian {
    color: #ec6e15;
}
.China {
    color: #cd665b;
}
